@model Inmobiliaria_Rios.Models.Contrato

@{
    ViewData["Title"] = "Crear Contrato";
}

<h1>Crear Contrato</h1>
<p>Formulario de creación de contrato. (Puedes copiar aquí el contenido de NuevoContrato.cshtml si deseas el mismo formulario)</p>
