@model dynamic

@{
    ViewData["Title"] = "Inicio";
}
<style>
    #lead-text-secondary{
        color: black;
        font: sans-serif;
        font-size: 2.50rem;  
        font-weight: bold;      
        text-align: center; 
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #display-4-text-primary{
        color: #333333;
        font-size: 3.50rem;
        font-weight: bold;
        text-align: center; 
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .image-grid {
        display: flex;
        flex-direction: row;
        gap: 15px;
        padding: 5px;
        justify-content: center;
        margin: 0 auto;
        overflow-x: auto;
    }
    .image-grid img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
        animation: wave 3s ease-in-out infinite;
    }

    .image-grid img:nth-child(1) { animation-delay: 0s; }
    .image-grid a:nth-child(2) img { animation-delay: 0.2s; }
    .image-grid a:nth-child(3) img { animation-delay: 0.4s; }
    .image-grid a:nth-child(4) img { animation-delay: 0.6s; }
</style>

<div class="container d-flex flex-column align-items-center justify-content-start" style="padding: 5px 0;">
    <div class="text-center page-title-container">
        <h1 class="display-4-text-primary">Inmobiliaria Rios</h1>
        <p class="lead-text-secondary">Encontremos la propiedad ideal juntos</p>
    </div>

    <div class="container p-0">
        <div class="image-grid">
            <a href="#link1">
                <img src="https://i.pinimg.com/736x/14/96/31/14963194d19315a727991b61c18a1d0b.jpg" alt="Imagen 1">
            </a>
            <a href="#link2">
                <img src="https://i.pinimg.com/736x/c3/52/9d/c3529d726c3974cd23f9aabd0441bbd0.jpg" alt="Imagen 2">
            </a>
            <a href="#link3">
                <img src="https://i.pinimg.com/736x/a6/7d/4d/a67d4db3a2b1a779c6e91943e79bd77e.jpg" alt="Imagen 3">
            </a>
            <a href="#link4">
                <img src="https://i.pinimg.com/736x/3e/eb/bf/3eebbf9d89516d245e779362e93c39b3.jpg" alt="Imagen 4">
            </a>
        </div>
    </div>
</div>
